section.content-element {
  display: block;
  position: relative;
}

.content-element h2.content-header {
  color: var(--grey-dark);
  font-family: 'Pridi', sans-serif;
  font-weight: lighter;
  font-size: 6.5vw;
  line-height: 1.2em;
  text-transform: uppercase;
  word-break: break-word;
}

.content-element .teaser {
  position: relative;

  background:
  -webkit-linear-gradient(rgba(255,125,0,0.5), rgba(255,125,0,0.5)),
  url(../img/example-content-image.jpg);

  background:
  linear-gradient(rgba(255,125,0,0.5), rgba(255,125,0,0.5)),
  url(../img/example-content-image.jpg);

  background-size: cover;
  min-height: 35vw;
}

.content-element .teaser p {
  position: relative;
  z-index: 10;
}

.content-element .content-text p{
  max-width: 45%;
}

.content-element img{
  max-width: 100%;
}

.content-element .content-text img{
  display: block;
  margin: 1em 0;
}

.content-element a.button:hover{
  opacity: .6;
}

.content-element a.button{
  display: inline-block;
  padding: 1em 2em;
  background: rgba(253,106,2);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (min-width: 576px)  {
  .content-element h2.content-header{
    font-size: 3.5em;
  }

  .content-element .teaser p,
  .content-element .content-text p {
    max-width: 45%;
  }

}

@media screen and (min-width: 1200px)  {
  .content-element .teaser {
    min-height: none;
    max-height: 40rem;
  }
}

@media screen and (min-width: 1250px)  {

header#main-header h1,
.content-element > header,
.content-element .teaser .inner-wrapper,
.content-element .content-text {
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
}

  }
